@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: darkslategray;
}

.login_div {
  background-color: gainsboro;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
}
