@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: darkslategray;
}

.login_div {
  background-color: lightcyan;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  height: 35rem;
  width: 25rem;
}

.login_logo {
  
}

@media only screen and (max-width: 500px) {
  .login_div {
    height: 25rem;
    width: 18rem;
  }
}
